<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="keywords" content="bitirme" />
	<meta name="description" content="Sakarya Üniversitesi Bitirme Deposu">
	<meta name="author" content="Mazlum Ağar">

    <!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/vendor/owlcarousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="/static/vendor/owlcarousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.css" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/theme-elements.css">
    <link rel="stylesheet" href="/static/css/theme-blog.css">
    <link rel="stylesheet" href="/static/css/theme-shop.css">
    <link rel="stylesheet" href="/static/css/theme-animate.css">
    <link rel="stylesheet" href="/static/css/toastr.css"/>

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/static/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">


    <!-- Head Libs -->
	<script src="/static/vendor/modernizr/modernizr.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="body">
        {% include "header.html" %}

        {% block content %}
            <!-- Content is hear -->
        {% endblock %}

        {% include "footer.html" %}
    </div>
    <!-- Vendor -->
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="/static/vendor/jquery.appear/jquery.appear.js"></script>
    <script src="/static/vendor/jquery.easing/jquery.easing.js"></script>
    <script src="/static/vendor/jquery-cookie/jquery-cookie.js"></script>
    <script src="/static/vendor/bootstrap/bootstrap.js"></script>
    <script src="/static/vendor/common/common.js"></script>
    <script src="/static/vendor/jquery.validation/jquery.validation.js"></script>
    <script src="/static/vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="/static/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="/static/vendor/jquery.gmap/jquery.gmap.js"></script>
    <script src="/static/vendor/twitterjs/twitter.js"></script>
    <script src="/static/vendor/isotope/jquery.isotope.js"></script>
    <script src="/static/vendor/owlcarousel/owl.carousel.js"></script>
    <script src="/static/vendor/jflickrfeed/jflickrfeed.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/static/vendor/vide/vide.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/static/js/theme.js"></script>

    <!-- Specific Page Vendor and Views -->
    <script src="/static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="/static/js/views/view.home.js"></script>
    <script type="text/javascript"  src="/static/js/toastr.js"></script>

    <!-- Theme Custom -->
    <script src="/static/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/static/js/theme.init.js"></script>
</body>
</html>