<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Nedir ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...
                    <a href="#" class="btn-flat btn-xs">Devamı <i class="fa fa-arrow-right"></i></a></p>
                <hr class="light">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5 class="short">İLETİŞİM</h5>
                <ul class="list icons list-unstyled">
                    <li><i class="fa fa-envelope"></i> <a href="mailto:okler@okler.net">mazlum.agar@gmail.com</a></li>
                </ul>
                <div class="social-icons">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="index.html" class="logo">
                        <img alt="Porto Website Template" class="img-responsive" src="/static/thub2.png">
                    </a>
                </div>
                <div class="col-md-11">
                    <p>© Copyright 2015. Tüm Hakları Saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
</footer>