<header id="header">
    <div class="container">
        <h1 class="logo">
            <a href="{% url "index" %}">
                <img alt="Porto" height="90" data-sticky-width="82" data-sticky-height="40" src="/static/thub.png">
            </a>
        </h1>
        <div class="search">
            <form id="searchForm" action="page-search-results.html" method="get">
                <div class="input-group">
                    <input type="text" class="form-control search" name="q" id="q" placeholder="Tez Ara.." required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <ul class="social-icons">
            <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
            <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
            <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
        </ul>
        <nav>
            <ul class="nav nav-pills nav-top">
                <li class="phone">
                    <span><i class="fa fa-envelope"></i>mazlum.agar@gmail.com</span>
                </li>
            </ul>
        </nav>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="navbar-collapse nav-main-collapse collapse">
        <div class="container">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li class="active">
                        <a href="{% url "index" %}">Anasayfa</a>
                    </li>
                    <li>
                        <a href="{% url "about" %}">Hakkında</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-toggle" href="{% url "login" %}">
                            <i class="fa fa-sign-in"></i> GİRİŞ
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" href="{% url "create_account" %}">
                            <i class="fa fa-plus"></i> KAYDOL
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a class="dropdown-toggle" href="{% url "thesis_create" %}">
                            <i class="fa fa-plus"></i> TEZ EKLE
                        </a>
                    </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                HESAP
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url "profile" %}">
                                    <i class="fa fa-user"></i> Profil
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                    <i class="fa fa-sign-out"></i> Çıkış
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>