{% extends "base.html" %}

{% block content %}
<div class="slider-container">
					<div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500}'>
						<ul>
							<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

								<img src="/static/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


								<div class="tp-caption top-label lfl stl"
									 data-x="207"
									 data-y="180"
									 data-speed="300"
									 data-start="500"
									 data-easing="easeOutExpo">Tez Çalışması mı Yapıyorsunuz ?</div>


								<div class="tp-caption main-label sft stb"
									 data-x="115"
									 data-y="210"
									 data-speed="300"
									 data-start="1500"
									 data-easing="easeOutExpo">BAŞLAMADAN ÖNCE</div>

								<div class="tp-caption bottom-label sft stb"
									 data-x="165"
									 data-y="280"
									 data-speed="500"
									 data-start="2000"
									 data-easing="easeOutExpo">Tezinizi sistemimizde arayın</div>

								<div class="tp-caption randomrotate"
									 data-x="1055"
									 data-y="248"
									 data-speed="500"
									 data-start="2500"
									 data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-1.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="1105"
									 data-y="200"
									 data-speed="400"
									 data-start="3000"
									 data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-2.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="1075"
									 data-y="170"
									 data-speed="700"
									 data-start="3150"
									 data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-3.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="1025"
									 data-y="130"
									 data-speed="1000"
									 data-start="3250"
									 data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-4.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="755"
									 data-y="80"
									 data-speed="600"
									 data-start="3450"
									 data-easing="easeOutExpo"><img src="/static/img/slides/slide-concept-2-5.png" alt=""></div>
							</li>
						</ul>
					</div>
				</div>
                <div class="home-intro" id="home-intro">
					<div class="container">

						<div class="row">
							<div class="col-md-9">
								<p style="max-width: 100%">
									Tez çalışması yaparken sizden önce tez çalışması yapan kişilerin tecrübelerinden faydalanmak ve sizden sonra gelecek kişilere
                                    yol göstermek için kaydolun.
								</p>
							</div>
							<div class="col-md-3">
								<div class="">
									<a href="{% url "create_account" %}" class="btn btn-lg btn-primary">Kaydol</a>
									<div class="learn-more"><a href="{% url "login" %}">Giriş Yap</a></div>
								</div>
							</div>
						</div>

					</div>
				</div>

{% endblock %}